.navlinks {
  display: flex;
  margin-left: 10px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
.link:hover {
  color: yellow;
  border-bottom: 1px solid white;
}

.logo {
  flex-grow: 1;
  cursor: pointer;
}
